<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>군산</key>
	<array>
		<string>36.003563</string>
		<string>126.834412</string>
		<string>gunsan.png</string>
	</array>
	<key>김제</key>
	<array>
		<string>35.803614</string>
		<string>126.880889</string>
		<string>kimje.png</string>
	</array>
	<key>남원</key>
	<array>
		<string>35.416317</string>
		<string>127.390498</string>
		<string>namwon.png</string>
	</array>
	<key>무주</key>
	<array>
		<string>35.931317</string>
		<string>127.478485</string>
		<string>muju.png</string>
	</array>
	<key>고창</key>
	<array>
		<string>35.414796</string>
		<string>126.778107</string>
		<string>gochang.png</string>
	</array>
	<key>부안</key>
	<array>
		<string>35.704147</string>
		<string>126.802826</string>
		<string>buan.png</string>
	</array>
	<key>순창</key>
	<array>
		<string>35.374416</string>
		<string>127.137603</string>
		<string>sunchang.png</string>
	</array>
	<key>완주</key>
	<array>
		<string>35.995785</string>
		<string>127.262878</string>
		<string>wanju.png</string>
	</array>
	<key>익산</key>
	<array>
		<string>35.948342</string>
		<string>126.957579</string>
		<string>iksan.png</string>
	</array>
	<key>임실</key>
	<array>
		<string>35.611255</string>
		<string>127.282791</string>
		<string>imsil.png</string>
	</array>
	<key>장수</key>
	<array>
		<string>35.647951</string>
		<string>127.5214</string>
		<string>jangsu.png</string>
	</array>
	<key>전주</key>
	<array>
		<string>35.824199</string>
		<string>127.147994</string>
		<string>jeonju.png</string>
	</array>
	<key>정읍</key>
	<array>
		<string>35.560161</string>
		<string>126.885223</string>
		<string>jeongeb.png</string>
	</array>
	<key>진안</key>
	<array>
		<string>35.792197</string>
		<string>127.424927</string>
		<string>jinan.png</string>
	</array>
</dict>
</plist>
